header h3{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.icono{
    padding-top: 5%;
    padding-left: 0;
    width:10%;
}
header i{
    font-size: 120%;
    left:14px;
}



.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 40px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 8px 0px;
    pointer-events: none;
}




.btn .caret {
    margin-left: -8px;
}
.btn-next {
    background:#ff00bf;
    width: 100%;
    border: none;
    color: #fff;
    padding: 5% 0;
    margin-top: 30px;
}